.navbar {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    height: 40px;
    padding: 10px 20px;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 1000;
}


.navbar-buttons-left a {
    color: #D1B000;
    text-decoration: none;
    font-size:xx-large;
    font-weight: bold;
}


.navbar-buttons-left .navbutleft {
    color: white;
    background: transparent;
    cursor: pointer;
    border: none;
    padding-left: 20px;
    font-size: large;
    font-weight: bold;

}


.navbar-buttons {
    padding-right: 50px;
}


.navbar-buttons .navbutright {
    color: white;
    background: transparent;
    cursor: pointer;
    border: none;
    font-size: medium;
    padding-right: 10px;
    font-weight: bold;

}


.navbar-buttons .navbutSignIn {
    color: white;
    background-color: #4b4b4b;
    text-decoration: none;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: none;
}

.navbar-buttons .navbutSignIn:hover {
    background-color: #3b3b3b;


}

.navbar-buttons .navbutSignUp {
    color: white;
    background-color: #D1B000;
    text-decoration: none;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: none;
}

.navbar-buttons .navbutSignUp:hover {
    background-color: #a38b00;
}


.footer {
    background-color: #333;
    color: rgb(228, 17, 17);
    text-align: center;
    padding: 15px 0;
    position: static;
    bottom: 0;
    width: 100%;
   
    justify-content: center;
    align-items: center;
}
